@import "null_style.scss";
@import "fonts.scss";
 

/*------------------------------------------------------------------------*/
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}

.container {
   margin: 0 auto;
   padding: 0 15px;
   max-width: 1087px;
}


/*------------------------------------------------------------------------*/
.button {
   display: inline-block;
   border-radius: 5px;
   padding: 14px 30px;
   line-height: 1.2;
   letter-spacing: 0.14em;
   color: #fcfdfe;
   font-family: Raleway;
   font-size: 10px;
   font-weight: 800;
   background: #ec5863;
   text-transform: uppercase;
   transition: background 0.2s linear;

   &:hover {
      background: #eb8188;
   }
}

.button_blue {
   background: #4285f4;

   &:hover {
      background: #689ff7;
   }
}

.title {
   font-family: Rubik;
   font-weight: bold;
   font-size: 44px;
   line-height: 126%;
   color: #000000;

   span {
      color: #ec5863;
   }
}

.title_blue {
   span {
      color: #4285f4;
   }
}

.subtitle {
   font-family: Rubik;
   font-size: 12px;
   line-height: 138.5%;
   letter-spacing: 0.08em;
   color: #616161;
}

/*------------------------------------------------------------------------*/
.header {
   background: #fafbfd;
   // .header__body

   position: relative;
   &>div{
      position: relative;
      z-index: 1;
   }
   &::after {
      content: '';
      position: absolute;
      width: 150vw;
      height: 100%;
      top: 0;
      right: 290px;
      background: #EC5863;
      border-radius: 30px 0px 0px 0px;
      transform: translateX(100%);
      z-index: 0;
   }

   &__body {
      display: flex;
      align-items: center;
      padding: 37px 0;
      width: 100%;
   }

   // .header__logo

   &__logo {
      z-index: 6;
      margin-right: auto;
   }

   // .header__menu

   &__menu {
      margin: 0 160px 0 0;
   }

   &__menu-wrapper {
      display: flex;
      align-items: center;
      justify-self: end;
   }

   // .header__list

   &__list {
      display: flex;

      li:not(:last-child) {
         margin: 0 40px 0 0;
      }
   }

   // .header__link

   &__link {
      line-height: 1.2;
      letter-spacing: 0.14em;
      color: #000000;
      font-family: Raleway;
      font-size: 10px;
      font-weight: bold;
      transition: color 0.2s linear;

      &:hover {
         color: #eb8188;
      }
   }

   // .header__button

   &__button {
      justify-self: end;
      z-index: 3;
   }

   // .header__burger

   &__burger {
      display: none;
   }
}

@media (max-width: 900px) {
   .header {
      &__menu {
         margin: 0 80px 0 0;
      }
      &::after{
         display: none;
      }
   }
}

@media (max-width: 767.98px) {
   body.lock {
      overflow: hidden;
   }

   .header {
      &__link {
         font-size: 18px;
      }

      &__button {
         margin: 0 30px 0 0;
      }

      &__burger {
         display: flex;
         z-index: 6;
         position: relative;
         align-items: center;
         width: 30px;
         height: 30px;

         span {
            background: #000000;
            width: 30px;
            height: 2px;
         }

         &::after,
         &::before {
            position: absolute;
            background: #000000;
            width: 30px;
            height: 2px;
            transition: all 0.1s linear;
            content: "";
         }

         &::after {
            top: 5px;
            left: 0;
         }

         &::before {
            bottom: 5px;
            left: 0;
         }
      }

      &__burger.active {
         display: flex;
         position: relative;
         align-items: center;
         width: 30px;
         height: 30px;

         span {
            display: none;
         }

         &::after {
            transform: rotate(45deg);
            left: 0;
            top: 50%;
         }

         &::before {
            transform: rotate(-45deg);
            left: 0;
            top: 50%;
         }
      }

      &__menu {
         position: absolute;
         top: 0;
         left: -100%;
         justify-content: center;
         transition: left 0.2s linear;
         margin: 0;
         background: white;
         width: 100vw;
         height: 100vh;
         z-index: 5;
         overflow: auto;
      }

      &__menu.active {
         left: 0;
      }

      &__list {
         display: block;
         margin-top: 100px;
         text-align: center;

         li:not(:last-child) {
            margin: 0 0 30px 0;
         }

         li:last-child {
            padding: 0 0 30px 0;
         }
      }

      &__body {
         padding: 25px 0;
      }
   }

   // .header__list

   &__list {
      display: flex;

      li:not(:last-child) {
         margin: 0 40px 0 0;
      }
   }
}

/*------------------------------------------------------------------------*/
.main {
   flex: 1 1 100%;
}

.get-started {
   position: relative;

   &>div {
      position: relative;
      z-index: 1;
   }

   &::after {
      content: '';
      position: absolute;
      width: 150vw;
      height: 100%;
      top: 0;
      right: 290px;
      background: #EC5863;
      border-radius: 0px 0px 0px 30px;
      transform: translateX(100%);
      z-index: 0;
   }

   background: #fafbfd;
   // .get-started__top
   padding: 40px 0 48px 0;

   &__health-top {
      display: flex;
      margin-bottom: 60px;
   }
}

.health-top {
   // .top__body

   &__body {
      flex: 1 0 40%;
      padding: 87px 10px 0 0;
   }

   // .top__title

   &__title {
      margin-bottom: 12px;
   }

   // .top__subtitle

   &__subtitle {
      max-width: 375px;
      margin-bottom: 24px;
   }

   // .top__image

   &__image {
      flex: 1 0 60%;
      text-align: right;
   }
}

.health-bottom {
   display: flex;

   &__icon {
      margin-right: 12px;
   }

   &__body {
      align-self: center;
   }

   &__text {
      margin-bottom: 5px;
      font-family: Rubik;
      font-size: 13px;
      line-height: 126%;
      letter-spacing: 0.08em;
      color: #b0b0b0;
   }

   &__subtext {
      font-family: Rubik;
      font-size: 9px;
      line-height: 126%;
      letter-spacing: 0.165em;
      text-transform: uppercase;
      color: #000000;
   }
}

@media (max-width: 919.98px) {
   .get-started {
      // .get-started__top
      padding: 0 0 28px 0;
   }

   .health-top {
      flex-direction: column;
      // .top__body

      &__body {
         flex: 1 0 100%;
         padding: 0 10px 0 0;
      }

      &__button {
         margin-bottom: 30px;
      }

      // .top__title

      // .top__image

      &__image {
         flex: 1 0 100%;
         text-align: center;
         position: relative;
         padding-bottom: 58%;

         img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: fill;
         }
      }
   }
}
@media (max-width: 900px) {
   .get-started { 
      &::after{
         display: none;
      }
   }
}
@media (max-width: 767.98px) {
   .get-started {

      // .get-started__top
      &__health-top {
         display: flex;
         margin-bottom: 20px;
      }
   }
}

@media (max-width: 374.98px) {
   .health-top {
      &__title {
         margin-bottom: 12px;
         font-size: 36px;
      }
   }

   .get-started {

      // .get-started__top
      &__health-top {
         display: flex;
         margin-bottom: 20px;
      }
   }
}

/*-------------------------------------------------------------*/
.app {
   padding: 135px 0 106px 0;
   // .app__row

   &__row {
      display: flex;
   }

   // .app__column

   &__column {
      flex: 1 0 50%;
      display: flex;
   }

   &__title {
      margin-bottom: 12px;
   }

   &__subtitle {
      margin-bottom: 25px;
   }

   // .app__image

   &__image {
      margin: 0 auto;
      position: relative;
      padding-bottom: 89.5%;
      width: 100%;

      &::after {
         content: "";
         width: 40%;
         height: 27px;
         bottom: -13.5px;
         left: 50%;
         transform: translateX(-50%);
         position: absolute;
         background: rgba(240, 240, 240, 0.49);
         border-radius: 16px;
      }

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: contain;
         z-index: 5;
      }
   }

   // .app__image-item

   &__image-item {
      // .app__image-item_1

      &_1,
      &_2,
      &_3 {
         position: absolute;
         background: #ec5863;
      }

      &_1 {
         top: -12%;
         left: 13.8%;
         width: 28.6%;
         padding-bottom: 28.6%;
         border-radius: 20%;
      }

      // .app__image-item_2

      &_2 {
         right: 21.8%;
         top: 66%;
         width: 15%;
         padding-bottom: 15%;
         border-radius: 38%;
      }

      // .app__image-item_3

      &_3 {
         left: 15%;
         bottom: -6%;
         width: 15%;
         padding-bottom: 15%;
         border-radius: 38%;
      }
   }

   &__body {
      align-self: center;
   }
}

@media (max-width: 767.98px) {
   .app {
      // .app__row
      padding: 100px 0 50px 0;

      &__row {
         display: flex;
         flex-direction: column;
         gap: 50px;
      }
   }
}

@media (max-width: 374.98px) {
   .app {
      padding: 70px 0 40px 0;
      // .app__row
   }
}

/*------------------------------------------------------------------------*/
.experts {
   // .experts__statistic
   padding: 103px 0 116px 0;
   background: #fafbfd;
}

.container_st {
   max-width: 654px;
}

.statistic {
   margin-bottom: 80px;
   // .statistic__body
   position: relative;

   &__body {
      display: flex;
      padding: 28px 0;
      background: white;
      border-radius: 16px;
      box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
      position: relative;
      z-index: 2;
   }

   &__item {

      // .statistic__item_1
      &_1,
      &_2,
      &_3 {
         position: absolute;
         background: #ec5863;
      }

      &_1 {
         width: 10%;
         padding-bottom: 10%;
         border-radius: 24%;
         transform: rotate(-30deg);
         bottom: -27%;
         left: -5%;
      }

      // .statistic__item_2

      &_2 {
         width: 15%;
         padding-bottom: 15%;
         border-radius: 30%;
         transform: rotate(105deg);
         top: -32%;
         left: 32%;
      }

      // .statistic__item_3

      &_3 {
         width: 20%;
         padding-bottom: 20%;
         border-radius: 23%;
         transform: rotate(-30deg);
         top: -3%;
         right: -9%;
      }
   }

   // .statistic__num

   &__num {
      font-family: Rubik;
      font-weight: bold;
      font-size: 36px;
      line-height: 43px;
      letter-spacing: 0.14em;
      color: #ec5863;
      text-align: center;
   }

   // .statistic__text

   &__text {
      font-family: Rubik;
      font-weight: bold;
      font-size: 11px;
      line-height: 13px;
      letter-spacing: 0.37em;
      text-transform: uppercase;
      color: #000000;
      text-align: center;
   }

   // .statistic__users

   &__users {
      flex: 1 1 30%;
   }

   // .statistic__countries

   &__countries {
      flex: 1 1 30%;
   }

   // .statistic__experts

   &__experts {
      flex: 1 1 40%;
   }
}

@media (max-width: 767.98px) {
   .statistic {
      &__body {
         flex-direction: column;
         gap: 27px;
      }

      &__item {
         &_1 {
            bottom: -17%;
         }
      }
   }
}

@media (max-width: 600px) {
   .statistic {
      &__item {
         &_1 {
            bottom: 0%;
         }

         &_2 {
            top: -12%;
         }

         &_3 {
            top: 0%;
         }
      }
   }
}

.info-experts {
   display: flex;
   // .info-experts__body

   &__body {
      align-self: center;
      padding: 0 10px 0 0;
      flex: 1 0 49%;
      margin: 0 0 0 40px;
   }

   // .info-experts__title

   &__title {
      margin-bottom: 12px;
   }

   // .info-experts__subtitle

   &__subtitle {
      margin-bottom: 24px;
      max-width: 363px;
   }

   // .info-experts__video

   &__video {
      flex: 1 1 51%;
      position: relative;
      padding-bottom: 28%;
      margin: 0 28px 0 0;

      iframe {
         position: absolute;
         left: 0;
         top: 0;
         height: 100%;
         width: 100%;
         object-fit: cover;
      }
   }
}

@media (max-width: 767.98px) {
   .info-experts {
      flex-direction: column;
      gap: 30px;

      &__video {
         padding-bottom: 56%;
         margin: 0 28px 0 28px;
      }

      &__subtitle {
         max-width: none;
      }
   }
}

@media (max-width: 600px) {
   .title {
      font-size: 36px;
   }
}

/*----------------------------------------------------*/

.cards {
   padding: 80px 0 60px 0;
   // .cards__title

   &__title {
      margin-bottom: 14px;
      text-align: center;
   }

   // .cards__subtitle

   &__subtitle {
      margin: 0 auto 46px auto;
      max-width: 600px;
      text-align: center;
   }

   // .cards__row

   &__row {
      display: flex;
      margin: 0 -36px;
   }

   // .cards__column

   &__column {
      margin: 0 36px;
      border-radius: 8px;
      box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
      padding: 36px 17px;
      flex: 1 1 33.333%;
      position: relative;
      background: white;
   }

   &__column_1 {
      &::after {
         content: "";
         position: absolute;
         background: #ec5863;
         z-index: -1;
         width: 66px;
         height: 66px;
         border-radius: 16px;
         transform: rotate(-30deg);
         bottom: -45px;
         left: -30px;
      }

      &::before {
         content: "";
         position: absolute;
         background: #ec5863;
         z-index: -1;
         width: 96.96px;
         height: 96.96px;
         border-radius: 30px;
         transform: rotate(105deg);
         top: 31px;
         right: -62px;
      }
   }

   &__column_2 {
      position: relative;

      &::after {
         content: "";
         position: absolute;
         background: #ec5863;
         z-index: -1;
         width: 127.47px;
         height: 127.47px;
         border-radius: 30px;
         transform: rotate(-30deg);
         bottom: -46px;
         right: -102px;
      }
   }

   &__column_3 {
      position: relative;

      &::after {
         content: "";
         position: absolute;
         background: #ec5863;
         z-index: -1;
         width: 65.75px;
         height: 65.75px;
         border-radius: 16px;
         transform: rotate(-30deg);
         top: -46px;
         right: -31px;
      }
   }

   &__icon {
      margin-bottom: 58px;
      text-align: center;
   }

   &__label {
      font-family: Rubik;
      font-weight: bold;
      font-size: 16px;
      line-height: 138.5%;
      text-align: center;
      letter-spacing: 0.08em;
      margin-bottom: 4px;
      color: #000000;
   }

   // .cards__text

   &__text {
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 138.5%;
      /* or 17px */

      text-align: center;
      letter-spacing: 0.08em;
      font-feature-settings: "pnum"on, "lnum"on;

      color: #616161;
   }
}

.cards__container {
   max-width: 979px;
   margin: 0 auto;
}

@media (max-width: 900px) {
   .cards {
      &__column {
         padding: 20px 17px;
      }

      &__icon {
         margin-bottom: 25px;
      }
   }
}

@media (max-width: 767.98px) {
   .cards {
      &__row {
         display: flex;
         flex-direction: column;
         gap: 30px;
      }
   }
}

/*----------------------------------------*/
.footer {
   position: relative;
   z-index: -2;
   // .footer__row
   padding: 32px 0 40px 0;

   &__row {
      display: flex;
      align-items: center;
      max-width: 382px;
      margin: 0 auto;
   }

   // .footer__container

   &__column {
      flex: 1 1 50%;
   }

   &__column_i {
      display: flex;
      justify-content: flex-end;
   }
}

@media (max-width: 500px) {
   .footer {
      // .footer__row

      &__row {
         flex-direction: column;
         gap: 20px;
      }

      // .footer__container

      &__column {
         flex: 1 1 100%;
      }
   }
}